.profile-settings-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
}

.profile-settings-form .form-group {
    margin-bottom: 15px;
}

.profile-images {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border 0.3s ease;
}

.profile-image.selected {
    border: 2px solid #007bff;
}

.delete-button {
    position: absolute;
    bottom: 20px; /* Posiziona in basso */
    left: 20px; /* Posiziona a sinistra */
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #a71d2a;
}

.profile-settings-container {
    position: relative; /* Per consentire il posizionamento assoluto del pulsante Delete */
}